mixer               == 5.1.10
muffin              >= 0.0.92
muffin-admin        >= 0.0.13
muffin-debugtoolbar >= 0.0.4
muffin-jinja2       >= 0.0.8
muffin-oauth        >= 0.0.14
muffin-peewee       >= 0.0.35
muffin-session      >= 0.0.5
wtf-peewee
