gunicorn
uvicorn[standard]

aiofile
aiosqlite
muffin                  >= 0.65.0
muffin-admin[peewee]    >= 0.27.1
muffin-jinja2           >= 1.3.0
muffin-oauth            >= 2.1.0
muffin-peewee-aio       >= 0.0.9
muffin-rest             >= 3.4.0
muffin-session          >= 1.1.1

mixer
pytest
pytest-aio[trio]
pytest-mypy
