<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Muffin Application</title>

    {% block base_css %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}

  </head>
  <body>

    <div class="container">

        {% include "navbar.html" %}

        {% block base_content %}
            <h1> Hello {{user and user.username or 'anonimous' }} </h1>
            <b> This is an example application {{ MUFFIN }}</b>
        {% endblock %}

        {% block base_js %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        {% endblock %}

    </div>

  </body>
</html>
