{% extends "base.html" %}


{% block base_content %}

    <h1> Hello {{ user and user.email or 'anonimous' }}! </h1>

    <h3> This is an example application for <a href="https://github.com/klen/muffin">Muffin</a> Framework</h3>

    {% if not user %}
        <ul>
            <li> Login as user <a href="/login?email=user@muffin.io&password=pass">(user@muffin.io:pass)</a> </li>
            <li> Login as admin <a href="/login?email=admin@muffin.io&password=pass">(admin@muffin.io:pass)</a> </li>
            <li> Or login from <a href="/oauth/github"> Github </a> </li>
        </ul>
    {% endif %}

    {% if user.is_super %}
        <p> See <a href="/admin"> Admin interface </a> </p>
    {% endif %}

    <h3>WebSocket Chat</h3>
    <div>
        <button id="connect" class="btn btn-success">Connect</button>
        &nbsp;|&nbsp;Status: <span id="status">disconnected</span>
    </div>

    <form id="chatform" onsubmit="return false;" class="input-group mt-3">
        <input id="text" type="text" placeholder="Type message" class="form-control"/>
        <button id="send" type="button" class="btn btn-outline-secondary">Send</button>
    </form>

    <div id="chat" style="height:30em;overflow-y:scroll" class="form-control my-2"></div>

{% endblock %}


{% block base_js %}

    {{ super() }}

    <script src="/assets/home.js"></script>

{% endblock %}
