<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> Muffin Example</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ view == 'index' and 'active' }}" href="/"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/swagger"> API Docs </a>
                </li>
                {% if user.is_super %}
                    <li class="nav-item"> <a class="nav-link" href="/admin"> Admin </a> </li>
                {% endif %}
            </ul>
            {% if user %}
                <ul class="nav navbar-nav navbar-right">
                    <li> <a class="btn btn-outline-primary" href="/logout"> Logout </a> </li>
                </ul>
            {% else %}
                <form class="d-flex" action="/login" method="POST">
                    <input class="form-control me-2" type="text" name="email" placeholder="Email" />
                    <input class="form-control me-2" type="password" name="password" placeholder="Password" />
                    <button class="btn btn-outline-success" type="submit"> Login </button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
